<div class="row">
	<form ng-submit="processForm()">
		I love <input type="text" name="image[word]" placeholder="" ng-model="newform.image.word" required />
		<button class="btn btn-danger" ng-disabled="newImage && !newImage.id">
			<span ng-show="!newImage || newImage.id">Make Love</span>
			<span ng-show="newImage && !newImage.id">Making Sweet Love...</span>
		</button>
		<a href="/" class="btn btn-info">Back</a>
	</form>
	<div class="alert alert-danger" ng-show="errors" role="alert">
		{{errors}}
	</div>
</div>

<div id="newimage" ng-show="newImage.id" class="row">
	<img ng-src="{{ newImage.image_url }}" />
	<div ng-init="tooltip='Copy to clipboard'">
		<div>
			Full Image <input type="text" ng-model="orig_url" />
			<button class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="right" title="{{tooltip}}" clip-copy="orig_url" ng-click="tooltip='Copied'" ng-mouseleave="tooltip='Copy to clipboard'">Copy</button>
		</div>
		<div>
			Thumbnail <input type="text" ng-model="thumb_url" />
			<button class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="right" title="{{tooltip}}" clip-copy="thumb_url">Copy</button>
		</div>
	</div>
</div>
