<h1>New</h1>

<%= form_for :image, url: images_path do |f| %>
  <p>
    <%= f.label :word %><br>
    <%= f.text_field :word %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
<form>
  <input type="text" ng-model='test' placeholder="e.g. apples, women, cats">
  <input class="btn btn-danger" type="submit" value="Add">
</form>
{{ test }}